@import url('https://fonts.googleapis.com/css?family=Open+Sans');

:root {
  --my-red: #C0D684;
  --my-blue: #ADCAD3;
  --my-grey: #3D0B37;
}

#page {
  padding:0;
  margin:0;
  border-collapse: collapse;
  font-family: "Open Sans", sans-serif;
  background: white;
}

.content{
  padding: 0;
  margin: 0;
}

.prof-container {
  display: flex;
  flex-direction: column;
  margin-left: 15vw;
  margin-top: 3.5vh;
  position: relative;
}

#edison {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
}

#overlay {
  z-index: 3;
  opacity: 1;
  transition: all .45s ease;
  position: absolute;
  top: 0;
  left: -.5vw;
}

#overlay-color {
  z-index: 1;
  opacity: 1;
  transition: all .45s ease;
  position: absolute;
  top: 0;
  left: -.5vw;
}

#overlay:hover {
  opacity: 0;
  transition: all .45s ease;
}



#overlay-color:hover {
  opacity: 0;
  transition: all .45s ease;
}


.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background-color: #272838; */
  position: absolute;
  top: 2.5%;
  width:100%;
}

#red-line {
  position: absolute;
  display: flex;
  background: var(--my-red);
  width: 120px;
  height:10px;
  top: 12%;
  left: 83%;
  z-index: 1;
}

#blue-line {
  position: absolute;
  display: flex;
  background: var(--my-blue);
  width: 300px;
  height:10px;
  top: 12%;
  left: 40%;
  z-index: 1;
}

li {
  position: relative;
  float: right;
  right: 1%;
  /*color: var(--my-grey);*/
}

li a {
  display: block;
  color: var(--my-grey);
  text-align: center;
  padding: 20px 22px;
  text-decoration: none;
  font-size: 22px;
}


.nav-item:hover {
  cursor: pointer;
  color: var(--my-red);
}



.social {
  display: flex;
  padding: 0px;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  position: absolute;
  top: 35%;
  left: 9%;
  z-index: 5;
}

.fa {
  /* display: inline-block; */
  padding: 20px;
  font-size: 30px;
  width: 40px;
  /* height: 30px; */

  text-align: center;
  text-decoration: none;
  background: var(--my-red);
  color: white;
}
.fa:hover {
  opacity: 0.7;
}

.center {
  /*background-color: #C9DDFF;*/
  position: absolute;
  display: flex;
  width:75%;
  height: 70%;
  top:15%;
  left:13%;
  z-index: 0;
  justify-content: center;
  align-items: center;
}


.circles:hover {
  cursor: pointer;
  opacity: .8;
}

#red-circle {
  position: absolute;
  display: flex;
  border-radius: 50%;
  background-color: var(--my-red);
  width: 100px;
  height:100px;
  top: 75%;
  left: 85%;
  z-index: 2;
}

#blue-circle {
  position: absolute;
  display: flex;
  border-radius: 50%;
  background-color: var(--my-blue);
  width: 100px;
  height:100px;
  top: 80%;
  left: 83%;
  z-index: 3;
}
#grey-circle {
  position: absolute;
  display: flex;
  border-radius: 50%;
  background-color: var(--my-grey);
  width: 100px;
  height:100px;
  top: 80%;
  left: 87%;
  z-index: 1;
}

.footer {

}

.name {
  position: absolute;
  transform: translateX(80%) translateY(-70%);
  font-size: 60px;
  z-index: 9;
  color: var(--my-grey);
}



.navbar {
  transform: translateY(8%) translateX(-4%);

}

#edison-title {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  top: 25vh;
  left: 55vw;
}

#title {
  position: relative;
  transform: translateY(-180%);
  left: 3%;
  font-size: 20px;
  color: var(--my-grey);

    -webkit-animation: 6s ease 0s normal forwards 1 fadein;
    animation: 6s ease 0s normal forwards 1 fadein;
}

@keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}

svg.intro {
  /*background: linear-gradient(135deg, #aa3bb1, #582a7e);*/
  max-width: 800px;
  position: relative;
  top: 50%;/*
  left: 80%;*//*
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);*/
  /*box-shadow: 0 30px 50px -20px #2e0642;*/
  text-align: center;
}
svg.intro .text {
  display: none;

}
svg.intro.go .text {
  font-family: Arial, sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  display: flex;
  justify-content: ;
  align-items: center;
}
svg.intro.go .text-stroke {
  fill: none;
  stroke: var(--my-grey);
  stroke-width: 2.8px;
  stroke-dashoffset: -300;
  stroke-dasharray: 300;
  stroke-linecap: butt;
  /*stroke-linejoin: round;*/
  -webkit-animation: dash 2.5s ease-in-out forwards;
          animation: dash 2.5s ease-in-out forwards;
}
svg.intro.go .text-stroke:nth-child(2) {
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
}
svg.intro.go .text-stroke:nth-child(3) {
  -webkit-animation-delay: .9s;
          animation-delay: .9s;
}
svg.intro.go .text-stroke-2 {
  stroke: var(--my-blue);
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}
svg.intro.go .text-stroke-3 {
  stroke:var(--my-red);
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}
svg.intro.go .text-stroke-4 {
  stroke: var(--my-blue);
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}
svg.intro.go .text-stroke:nth-child(5) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}
svg.intro.go .text-stroke:nth-child(6) {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}

@-webkit-keyframes dash {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  100% {
    stroke-dashoffset: 0;
  }
}
/*.reload {
  position: absolute;
  bottom: 15px;
  right: 15px;
  background: #fff;
  border: none;
  border-radius: 20px;
  outline: none !important;
  font-size: 11px;
  line-height: 1.5;
  padding: 8px 12px;
  text-transform: uppercase;
  z-index: 10;
  cursor: pointer;
  box-shadow: 0 6px 7px #350e4c;
  transition: all 0.1s cubic-bezier(0.67, 0.13, 0.1, 0.81);
}
.reload:hover {
  box-shadow: 0 4px 4px #350e4c;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}
.reload:active {
  box-shadow: 0 1px 2px #244B94;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}
.reload svg {
  vertical-align: middle;
  position: relative;
  top: -2px;
}*/

